.static-content {
    color: #212121;
    word-wrap: break-word;
}

.static-content p {
    line-height: 22px;
    padding-bottom: 20px;
}

.static-content a {
    color: #1f71ec;
    text-decoration: underline;
}

.static-content a:visited {
    color: #005EEC;
}

.static-content h2,
.static-content h3,
.static-content h4,
.static-content h5,
.static-content h6 {
    margin-bottom: 1em;
}

.static-content h6 {
    font-size: 1.067em;
}

.static-content h5 {
    font-size: 1.200em;
}

.static-content h4 {
    font-size: 1.333em;
}

.static-content h3 {
    font-size: 1.467em;
}

.static-content h2 {
    font-size: 1.600em;
}

.static-content li {
    padding: 0 0 25px 25px;
    position: relative;
}

.static-content li h2 {
    font-size: 24px;
}

.static-content li h3 {
    font-size: 22px;
}

.static-content li h4 {
    font-size: 20px;
}

.static-content li h5 {
    font-size: 18px;
}

.static-content li h6 {
    font-size: 16px;
}

.static-content iframe {
    margin-bottom: 15px;
    max-width: 100%;
}

.static-content ol,
.static-content ul {
    padding-left: 30px;
}

.static-content li {
    padding: 0 0 20px 25px;
}

.static-content ul li:before {
    background-color: #3B3F5F;
    border-radius: 50%;
    content: '';
    height: 6px;
    left: 3px;
    position: absolute;
    top: 10px;
    width: 6px;
}

.static-content ol {
    counter-reset: id;
    position: relative;
}

.static-content ol li:before {
    counter-increment: id;
    content: counter(id)'.';
    color: #3B3F5F;
    left: 0;
    position: absolute;
    top: 1px;
    width: 20px;
}

.static-content img {
    height: auto !important;
    margin: 10px;
}

.static-content em,
.static-content i {
    font-style: italic;
}

.static-content u {
    text-decoration: underline;
}

.static-content hr {
    background-color: #DFDFDF;
    border: none;
    height: 1px;
    margin: 15px 0;
}

.static-content table {
    margin-bottom: 20px;
    width: 100%;
}

.static-content table td,
.static-content table th {
    border: 1px solid #dadada;
    padding: 10px;
    text-align: left;
}

.static-content table th {
    background-color: #ebebef;
}

.static-content table td {
    background-color: #FFFFFF;
}

.static-content blockquote {
    padding: 20px 0;
}

/*
.static-content blockquote.gray {
    background-color: #e8e8e8;
}
*/